.navbar-block{
	&__list{
		display: flex;
	}
	&__element{
		&:first-child{
			margin-right: 10px;
		}
		color: rgb(248, 248, 248);
		font-size: 19px;
		font-weight: 600;
		&.active{
			color: rgb(201, 184, 0);
		}
	}
}