.tasks-list{
	margin-top: 15px;
	&__block{
		display: flex;
		flex-direction: column;
		li{
			display: flex;
			justify-content: space-between;
			padding: 5px;
			background: rgb(232, 232, 232);
			margin-bottom: 10px;
			font-size: 18px;
			border-bottom: 2px solid blueviolet;
			&.no-active{
				text-decoration: line-through;
			}
		}
		li:last-child{
			margin-bottom: 0;
		}
	}
	&__check{
		width: 20px;
		height: 20px;
		margin-right: 5px;
		display: inline-block;
	}
	&__remove-btn{
		background: darkred;
		color: #fff;
		font-weight: 600;
		padding: 5px;
	}
	&__message{
		font-size: 18px;
	}
}